:root{
  color: #ffffff;
  background-color: #161616;
  --tx: #ffffff
  font-family: 'Poppins', sans-serif;
}
button{
  border: none;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  width: 100px;
  height: 50px;
  background-color: #8c2d3a;
  font-family: inherit;
}

.container{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  display: flex;
  padding: 10px;
  border-color: #383838;
  margin: 50px;
}

.item{


  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  flex: auto;
  text-align: center;
  margin: 10px;
}

.item-bg{
  background-color: #ffffff;
  color: #ffffff;
  opacity: 3%;
  border-radius: 6px;
  flex: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  }
